body {
	background-image: url('../img/back.png');
	font: lighter 14px "Open Sans", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

.small {
	width: 200px;
}

#header {
	position: absolute;
	overflow: hidden;
	top: 10px;
	width: 55%;
	height: 80px;
	overflow-y: auto;
	margin-left: 20%;
	background-color: white;
}

#contents {
	position: absolute;
	overflow: hidden;
	top: 100px;
	width: 55%;
	overflow-y: auto;
	margin-left: 20%;
	bottom: 10px;
	background-color: white;
}

#contents div {
	margin-bottom: 50px;
}

h1 {
	font-weight: lighter;
	margin-bottom: 0;
	margin-left: 40px;
}

h2 {
	font-weight: lighter;
	margin-bottom: 0;
	margin-left: 40px;
	margin-top: 20px;
}

h3 {
	font-weight: lighter;
	margin-bottom: -40px;
	margin-left: 40px;
	margin-top: 20px;
}

hr {
	margin-bottom: 10px;
	margin-top: 20px;
}

p {
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
}

a:hover {
	color: #002678;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

a:link,
a:visited,
a:active {
	color: black;
}

li,
figure {
	margin-left: 100px;
}

/* COMPATIBILITY TABLES */

table.compatibility {
    margin-left: 40px;
    margin-right: 40px;
    border-spacing: 0.1em;
    position: relative;
}

table.compatibility caption {
	padding: 10px 0;
	text-align: left;
}

table.compatibility caption select {
	width: 221px;
	margin-left: 5px;
	margin-right: 7px;
}

tr {
	width: 100%;
}

table.compatibility td {
	vertical-align: top;
}

col {
	width: 2em;
}

col[span="5"] {
	width: 2.5em;
}

col[span="4"] {
	width: 3em;
}

col[span="3"] {
	width: 4em;
}

col[span="2"] {
	width: 6em;	
}

col[span="1"] {
	width: 12em;
}

tr.compheader {
	background-color: #F2F3EF;
}

tr.compheader th {
	font-weight: normal;
	font-size: 80%;
	line-height: 150%;
	color: #666666;
}

tr.compheader th:first-child {
	text-align: right;
	padding: 1em;
}

tr.compheader th[colspan] {
	text-align: center;
}

tr.compheader:last-child th {
	border: none;
}

td.header {
	background-color: #F2F3EF;
	padding: 0.3em;
}

td.header h3,td.header h4 {
	margin-top: 0.5em;
	text-align: center;
}

td.declaration {
	background-color: #F2F3EF;
	text-align: right;
	padding-right: 10px;
	color: #666666;
	width: 100px;
}

td.comp {
	font-family: verdana,sans-serif;
	font-size: 95%;
	text-transform: lowercase;
	text-align: center;
	height: 3em;
	vertical-align: middle !important;
}

table.keepCaps td.comp {
	text-transform: none;
}

td.yes {
	background-color: #7EB000;
	color: #ffffff;
}

td.almost {
	background-color: #40A662;
	color: #ffffff;
}

td.incomplete {
	color: #00882D;
}

td.alternative {
	color: #666666;
}

td.untestable {
	color: #006699;
}

td.minimal {
	color: #CB000F;
}

td.incorrect {
	color: #CB000F;
}

td.toomany {
	background-color: #CCE7D5;
}

td.buggy {
	background-color: #DA4C57;
	color: #ffffff;
}

td.severebug {
	background-color: #82000A;
	color: #ffffff;
}

td.no {
	background-color: #FF0512;
	color: #ffffff;
}

td.crash {
	background-color: #535353;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

td.test {
	background-color: #bbbbbb;
	color: #ffffff;
}

td.clean {
	background-color: #FFFFFF;
}

td pre {
	padding: 0;
}

td pre + p {
	margin-top: 2px;
}

td th,td td {
	padding: 1px !important;
	vertical-align: top;
	color: #666666;
}

td th {
	text-align: left !important;
	width: 8em;
}

